<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/logofavicon.png" type=image/x-icon*> <title>The Wine Route</title>
    <link rel="stylesheet" href="../../css/main.css">
</head>

<body>

    <section class="container__grid1">

        <header class="header">

            <div class="logo">
                <a href="index.html">
                    <img src="../img/logo.png" alt="Logo Home" class="logo__home"></a>
            </div>

            <nav class="navbar1">
                <ul>
                    <ul>
                        <li><a href="../../index.html">Inicio</a></li>
                        <li><a href="./experiencias.html">Experiencias</a></li>
                        <li><a href="./bodegas.html">Bodegas</a></li>
                        <li><a href="./aboutus.html">Sobre Nosotros</a></li>
                        <li><a href="./contacto.html">Contacto</a></li>
                    </ul>
                </ul>
            </nav>
        </header>

    <!-- termina barra de navegación del header con logo y debajo botones con imagen por debajo de los mismos -->
    <!-- Información sobre misión y visión con links a Sobre Nosotros -->
    

        <article class="container__mision">

            <img src="../img/winesun.jpg" alt="Wine Sun" class="wineSun">

            <h1 class="titulo__mision">Misión</h1>

            <p class="texto__mision">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper
                mauris vitae purus lacinia,
                at
                viverra leo imperdiet. Aliquam euismod quis mauris eu dictum. Donec cursus arcu nec eros sagittis, quis
                commodo
                nisi lacinia. In blandit eget odio vitae vulputate. Vivamus eu magna bibendum massa aliquam accumsan ac
                in
                justo. Cras ipsum purus, elementum in justo id.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper mauris vitae purus lacinia,
                at
                viverra leo imperdiet. Aliquam euismod quis mauris eu dictum. Donec cursus arcu nec eros sagittis, quis
                commodo
                nisi lacinia.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper mauris vitae purus lacinia,
                at
                viverra leo imperdiet. Aliquam euismod quis mauris eu dictum. Donec cursus arcu nec eros sagittis, quis
                commodo
                nisi lacinia.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper mauris vitae purus lacinia,
                at
                viverra leo imperdiet. Aliquam euismod quis mauris eu dictum. Donec cursus arcu nec eros sagittis, quis
                commodo
                nisi lacinia.</p>
        </article>

            <span class="container__vision">

                <img src="../img/Vision.jpg" alt="Vision" class="imagen__vision">

                    <h2 class="titulo__vision">Visión</h2>

                <p class="texto__vision">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper mauris vitae purus lacinia,
                at
                viverra leo imperdiet. Aliquam euismod quis mauris eu dictum. Donec cursus arcu nec eros sagittis, quis
                commodo
                nisi lacinia.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper mauris vitae purus lacinia,
                at
                viverra leo imperdiet. Aliquam euismod quis mauris eu dictum. Donec cursus arcu nec eros sagittis, quis
                commodo
                nisi lacinia.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper mauris vitae purus lacinia,
                at
                viverra leo imperdiet. Aliquam euismod quis mauris eu dictum. Donec cursus arcu nec eros sagittis, quis
                commodo
                nisi lacinia.</p>

                

            </span>

            
            
            <article class="container__experiencia">

                <img src="../img/sommelier.jpg" alt="sommelier" class="sommelier">

                <h3 class="titulo__experiencia">Nuestra Experiencia</h3>
                
                <p class="texto__experiencia">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper mauris vitae purus lacinia,
                at
                viverra leo imperdiet. Aliquam euismod quis mauris eu dictum. Donec cursus arcu nec eros sagittis, quis
                commodo
                nisi lacinia.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper mauris vitae purus lacinia,
                at
                viverra leo imperdiet. Aliquam euismod quis mauris eu dictum. Donec cursus arcu nec eros sagittis, quis
                commodo
                nisi lacinia.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper mauris vitae purus lacinia,
                at
                viverra leo imperdiet. Aliquam euismod quis mauris eu dictum. Donec cursus arcu nec eros sagittis, quis
                commodo
                nisi lacinia.
                </p>

        
            </article>

        
        
    </section>

    <!-- Comienza footer con RRSS y Copyright -->
    <footer class="footer">
        <div class="footer_logosrss">
            <a href="https://www.facebook.com" target="_blank"><img style="max-width: 5%;" src="../img/face.png"
                    alt="facebook logo"></a>
            <a href="https://www.youtube.com" target="_blank"><img style="max-width: 5%;" src="../img/youtube.png"
                    alt="youtube logo"></a>
            <a href="https://www.twitter.com" target="_blank"><img style="max-width: 5%" src="../img/tw.png"
                    alt="twitter logo"></a>
            <a href="https://www.instagram.com" target="_blank"><img style="max-width: 5%;"
                    src="../img/instagram.png" alt="instagram logo"></a>
        </div>

        <div class="copyright__footer">
            <h3>Copyright 2022</h3>
        </div>
    </footer>
</section>
</body>

</html>