<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="shortcut icon" href="../img/logofavicon.png" type=image/x-icon*> <title>The Wine Route</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>

    <section class="container__grid1">

        <nav class="navbar navbar-expand-lg navbar-light">

            <div class="logo">
              <a href="../../index.html">
                <img src="../img/logo.png" alt="Logo Home" class="logo__home"></a>
            </div>
           
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link nav-link-active" aria-current="page" href="../../index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="../views/experiencias.html">Experiencias</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="../views/bodegas.html">Bodegas</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="../views/aboutus.html">Nosotros</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="../views/contacto.html">Contacto</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
    <!-- termina barra de navegación del header con logo y debajo botones con imagen por debajo de los mismos -->
    <!-- Información sobre misión y visión con links a Sobre Nosotros -->
    
            <article class="bodega__village">
                <h1 class="village__tittle">Bodega Village Wine</h1>
                <p class="village__texto">Nuestra bodega nace como un emprendimiento familiar. En nuestro caso, impulsado por el amor hacia el
                    campo y sus frutos. Crecimos de la mano de una premisa fundamental: el trabajo a pequeña escala
                    ofrece siempre mejores resultados. Para lograrlo, cuidamos y seguimos todo el proceso celosamente,
                    desde el viñedo hasta la copa. Creemos que este es el camino para, a largo plazo, reflejar en
                    nuestros vinos la personalidad que nos identifica.

                </p>
                <div class="containerBodegas__img">
                <img src="../img/bodega1.jpg" alt="Barriles de Metal" class="barrilesMetal">
                <img src="../img/bodega5.jpg" alt="Barriles de Roble" class="barrilesRoble">
            </div>

            </article>

            <article class="bodega__cave">
                <h2 class="cave__tittle">Bodega Cave Reseve</h2>
                <p class="cave__texto">Nuestra bodega tiene una extensión de 50 hectáreas ubicadas en el casco de estancia original de 1909
                    una de las primeras bodegas del país. Fieles a la tradición en 1990 el casco es reciclado, en 1998
                    se inicia la plantación de viñedos y en el 2010 comenzamos la construcción de una nueva bodega
                    dentro del casco original para la elaboración exclusiva de vinos de alta gama.

                    También contamos con pequeñas extensiones de árboles frutales que conviven con los viñedos
                    destinados a la elaboración de mermeladas y almíbares. Así como la producción de galletas, quesos,
                    pasta seca y aceite de oliva.

                    En nuestra bodega todos los sentidos se activan para poder vivir una experiencia sensorial única, la
                    degustación y los aromas son parte esencial de nuestra tarea.</p> <br>
                
                    <div class="containerBodegas__img">
                <img src="../img/expvino.jpg" alt="Copa en Viñedo" class="copaViñedoImg">
                <img src="../img/viñedo1.jpg" alt="viñedoTorre" class="viñedoTorreImg">
            </div>
            </article>


    
    <!-- Comienza footer con RRSS y Copyright -->
    <footer class="footer__bodegas">
        <div class="footer_logosrss">
            <a href="https://www.facebook.com" target="_blank"><img style="max-width: 5%;" src="../img/face.png"
                    alt="facebook logo"></a>
            <a href="https://www.youtube.com" target="_blank"><img style="max-width: 5%;" src="../img/youtube.png"
                    alt="youtube logo"></a>
            <a href="https://www.twitter.com" target="_blank"><img style="max-width: 5%" src="../img/tw.png"
                    alt="twitter logo"></a>
            <a href="https://www.instagram.com" target="_blank"><img style="max-width: 5%;"
                    src="../img/instagram.png" alt="instagram logo"></a>
        </div>

        <div class="copyright__footer">
            <h3>Copyright 2022</h3>
        </div>
    </footer>
</section>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>