<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/logofavicon.png" type=image/x-icon*> <title>The Wine Route</title>
    <link rel="stylesheet" href="../../css/main.css">
</head>

<body>

    <section class="container__grid3">

        <header class="header">

            <div class="logo">
                <a href="../../index.html">
                    <img src="../img/logo.png" alt="Logo Home" class="logo__home"></a>
            </div>

            <nav class="navbar">
                <ul>
                    <li><a href="../../index.html">Inicio</a></li>
                    <li><a href="./experiencias.html">Experiencias</a></li>
                    <li><a href="./bodegas.html">Bodegas</a></li>
                    <li><a href="./aboutus.html">Sobre Nosotros</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </header>

    <!-- termina barra de navegación del header con logo y debajo botones con imagen por debajo de los mismos -->
    <!-- Información sobre misión y visión con links a Sobre Nosotros -->
    

    
        <section class="contacto__main">
            <article>
                <h2 class="contacto__tittle">Hace Tu Reserva!</h2>

                <p class="contacto__texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper mauris vitae purus
                    lacinia,
                    at
                    viverra leo imperdiet. Aliquam euismod quis mauris eu dictum. Donec cursus arcu nec eros sagittis,
                    quis
                    commodo
                    nisi lacinia. In blandit eget odio vitae vulputate. Vivamus eu magna bibendum massa aliquam accumsan
                    ac
                    in
                    justo. Cras ipsum purus, elementum in justo id.</p>
            </article>

            <div class="contacto" style="padding-bottom: 3%;">
                <form action="">
                    <div style="float: left;" id="Contacto">
                    <label for="Nombre" class="bodegas__texto">Nombre: </label> <br>
                    <input type="text" name="Nombre" id="Nombre"> <br>

                    <label for="C.I" class="bodegas__texto">Documento: </label> <br>
                    <input type="number" name="C.I" id="Documento"> <br>

                    <label for="Email" class="bodegas__texto">Email: </label> <br>
                    <input type="email" name="Email" id="Email"> <br>

                    <label for="Telefono" class="bodegas__texto">Telefono: </label> <br>
                    <input type="number" name="Telefono" id="Telefono"> <br>
                    <button type="submit" style="margin-top: 3%;" >Enviar </button>
                </div>

                    <label for="Comentarios" class="bodegas__texto">Comentarios: </label> <br>
                    <input type="text" name="Comentarios" id="Comentarios">

                </form>
                
            </div>
        </section>



    <!-- Comienza footer con RRSS y Copyright -->
    <footer class="footer">
        <div class="footer_logosrss">
            <a href="https://www.facebook.com" target="_blank"><img style="max-width: 5%;" src="../img/face.png"
                    alt="facebook logo"></a>
            <a href="https://www.youtube.com" target="_blank"><img style="max-width: 5%;" src="../img/youtube.png"
                    alt="youtube logo"></a>
            <a href="https://www.twitter.com" target="_blank"><img style="max-width: 5%" src="../img/tw.png"
                    alt="twitter logo"></a>
            <a href="https://www.instagram.com" target="_blank"><img style="max-width: 5%;"
                    src="../img/instagram.png" alt="instagram logo"></a>
        </div>

        <div class="copyright__footer">
            <h3>Copyright 2022</h3>
        </div>
    </footer>
</section>
</body>

</html>