<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../img/logofavicon.png" type=image/x-icon*> <title>The Wine Route</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="../../css/style.css">
</head>

<body>

  <section class="container__grid2">

    <nav class="navbar navbar-expand-lg navbar-light">

      <div class="logo">
        <a href="../../index.html">
          <img src="../img/logo.png" alt="Logo Home" class="logo__home_e"></a>
      </div>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link nav-link-active" aria-current="page" href="../../index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="../views/experiencias.html">Experiencias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="../views/bodegas.html">Bodegas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="../views/aboutus.html">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="../views/contacto.html">Contacto</a>
          </li>
        </ul>
      </div>
      </div>
    </nav>

    <!-- termina barra de navegación del header con logo y debajo botones con imagen por debajo de los mismos -->
    <!-- Información sobre misión y visión con links a Sobre Nosotros -->


    <article class="experiencia__gastronomica">

      <h1 class="experiencia__tittle">Experiencia Gastronómica</h1>

      <div class="experiencia__gastronomicaImg">
        <img src="../img/vinosyquesos.jpg" alt="Vinos y Quesos" class="vinosyQuesos">
        <img src="../img/tabladegreservado.jpg" alt="Tabla Degustacion" class="tablaDegustacion">
        <img src="../img/restaurante.jpg" alt="Restaurante" class="restaurante">
      </div>



      <div class="gastronomica__texto">
        <p class="experiencia__texto">Tenemos las mejores selecciones por parte de los mejores chefs y sommeliers para
          que puedas degustar la variedad de platos y maridaje con los vinos de las bodegas.
          Si quieres tener una experiencia completa puedes tener la opción con cena de 32 pasos que te ofrece la
          posibilidad de degustar exclusivos platos elaborados por nuestro chef ejecutivo con 3 estrellas Michelín.
          Las vistas de nuestros restaurantes son inmejorables para que puedas acompañar los platos con los mas lindos
          paisajes, una experiencia para llevar en la memoria. Queremos ofrecerte de lo mejor la excelencia y para eso
          contamos con personal altamente capacitado para orientarte en la selección tanto de los vinos como de
          cualquier plato.</p>
      </div>
    </article>

    <article class="experiencia__fabricacion">
      <h2 class="fabricacion__tittle">Fabricación del Vino</h2>
      <p class="fabricacion__texto">¿Quieres saber como es el proceso completo de elaboración de nuestros vinos? Te
        invitamos a conocer cada uno de los procesos que completan hasta llegar a la botella lista para la venta. Vamos
        a recorrer las plantas de elaboración, como se fraccionan las uvas, como es el proceso de calidad en los
        laboratorios con los análisis que se realizan para que la calidad esté optima.
        Veremos como nuestros colaboradores trasladan las uvas y como es la decantación y parte del proceso de
        embotellamiento y etiquetado de las diferentes cepas al igual que realizaremos pequeñas catas de los vinos que
        estan en barriles de roble para asi tener el sabor mas auténtico y directo de fabrica.</p>

      <div class="fabricacionImg">
        <img src="../img/fabricabotella.jpg" alt="Fabrica Botellas" class="experiencia__fabricaBotellas">
        <img src="../img/fabricauvas.jpg" alt="Fabricas Uva" class="experiencia__fabricaImgUvas">
    </article>
    </div>

    <article class="experiencia__familia">
      <h2 class="familia__tittle">Escapada en Familia o con Amigos</h2>
      <div class="experiencia__familiaImg">
        <img src="../img/sommelier.jpg" alt="Sommelier" class="sommelier1">
        <img src="../img/parejaexp.jpg" alt="Pareja Experiencia" class="parejaimg">
        <img src="../img/expmesalarga.jpg" alt="Mesa Larga" class="mesalarga">
      </div>
      <p class="familia__texto">El espacio ideal para escapar con amigos o familia de la rutina. Tenemos paseos
        dedicados a recorrer el establecimiento completo, con una recorrida por los establos, paseos a caballo por todo
        el viñedo. Cenas al aire libre en nuestro parque, puedes traer a tu mascota! Nos diferenciamos del resto por
        tener un servicio de Bodas en el que puedes festejar aqui tu unión, incluye servicio de catering, vinos a
        eleccion y nuestro mejor espumante para hacer de este el mejor dia!. 2 Veces al año tenemos competencias de
        sommeliers para elegir al sommelier mas calificado, competencia que se premia con un pase libre de degustaciones
        en nuestra bodega principal.</p>
    </article>


    <article class="experiencia__hotel">
      <h2 class="hotel__tittle">Nuestro Hotel</h2>
      <p class="hotel__texto">En bodegas Village ofrecemos distintas opciones para hospedarte en tu visita, ya sea que
        quieras descansar en el medio de los viñedos, frente al mar despertando con el sonido de las olas para desayunar
        en los decks que se encuentran fuera de todas las habitaciones, o en el corazón de las bodegas en uno de los
        hoteles con estilo Rústico Campestre y disfrutar de una experiencia mas cercana a la elaboración.</p>
      <div class="experiencia__hotelImg">
        <img src="../img/hotelfachada.jpg" alt="Hotel Fachada" class="fachadahotel">
        <img src="../img/bañohotel.jpg" alt="Baño Hotel" class="bañohotel">
        <img src="../img/habhotel.jpg" alt="Habitacion Hotel" class="habitacionhotel">
      </div>
    </article>


    <!-- Comienza footer con RRSS y Copyright -->
    <footer class="footer__experiencias">
      <div class="footer_logosrss">
        <a href="https://www.facebook.com" target="_blank"><img style="max-width: 5%;" src="../img/face.png"
            alt="facebook logo"></a>
        <a href="https://www.youtube.com" target="_blank"><img style="max-width: 5%;" src="../img/youtube.png"
            alt="youtube logo"></a>
        <a href="https://www.twitter.com" target="_blank"><img style="max-width: 5%" src="../img/tw.png"
            alt="twitter logo"></a>
        <a href="https://www.instagram.com" target="_blank"><img style="max-width: 5%;" src="../img/instagram.png"
            alt="instagram logo"></a>
      </div>

      <div class="copyright__footer">
        <h3>Copyright 2022</h3>
      </div>
    </footer>

  </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>
</body>

</html>