/*FOOTER*/

.footer{
    grid-column: 1/3;
    grid-row: 4/5;
    background-color: #450223;
    height: 25vh;
}

.footer_logosrss{
    padding-top: 20px;
    width: 80%;
}

.copyright__footer {
  color: white;
    text-align: center;
    font-size: 1em;
  
  
  }