/******CONTACTO******/


.texto__form{
    padding: 5% 0 10% 0;
}

.form__experiencia{
    padding-bottom: 20%;
}

.container__grid3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    width: 100%;

    }

#Contacto{
    padding: 0% 10% 0% 30%;
}

#Comentarios{
    height: 25vh;

}

.contacto__main{
    grid-column: 1/3;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}

.contacto__tittle{
    font-family: 'Anton', sans-serif;
    font-size: 2em;
    text-align: center;
}

.contacto__texto{
    text-align: center;
    font-family: 'Thasadith', sans-serif;
    font-size: 2em;
    max-width: 1080px;
    margin: 0 auto;
}
