/*****EXPERIENCIAS*****/

.container__grid2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    width: 100%;
    
    
    }

  .experiencia__hotel{
    display: flex;
    flex-direction: column;
    height: auto;
    grid-column: 1/3;
    text-align: center;
    background-color: #faa0b1d2;

    }

    .fachadahotel, .bañohotel, .habitacionhotel {
        width: 30%;
    }
  
  .experiencia__familia{
    display: flex;
    flex-direction: column;
    height: auto;
    grid-column: 1/3;
    text-align: center;
    max-width: 1080px;
    margin: 0 auto;
  }

.sommelier1, .parejaimg, .mesalarga {
    width: 30%;
}

.experiencia__fabricacion{
    display: flex;
    flex-direction: column;
    height: auto;
    grid-column: 1/3;
    background-color: #faa0b1d2;
    text-align: center;
    
}

.experiencia__fabricaBotellas, .experiencia__fabricaImgUvas {
    width: 40%;
}

.experiencia__gastronomica{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    grid-column: 1/3;
    text-align: center;
    max-width: 1080px;
    margin: 0 auto;
}
 
.vinosyQuesos, .tablaDegustacion ,.restaurante {
    width: 20%;
}

.experiencia__tittle {
    font-family: 'Anton', sans-serif;
    flex-direction: row;
    font-size: 2em;
}

.experiencia__texto {
    align-self: center;
    font-family: 'Thasadith', sans-serif;
    font-size: 2em;
    max-width: 1080px;
    margin: 0 auto;
}

.fabricacion__tittle{
    font-family: 'Anton', sans-serif;
    flex-direction: row;
    font-size: 2em;
}

.fabricacion__texto{
    align-self: center;
    font-family: 'Thasadith', sans-serif;
    font-size: 2em;
    max-width: 1080px;
    margin: 0 auto;
}

.familia__tittle {
    font-family: 'Anton', sans-serif;
    flex-direction: row;
    font-size: 2em;
}

.familia__texto{
    align-self: center;
    font-family: 'Thasadith', sans-serif;
    font-size: 2em;
    max-width: 1080px;
    margin: 0 auto;
}

.hotel__tittle {
    font-family: 'Anton', sans-serif;
    flex-direction: row;
    font-size: 2em;
}

.hotel__texto{
    align-self: center;
    font-family: 'Thasadith', sans-serif;
    font-size: 2em;
    grid-column: 1/3;
    margin: 0 auto;
    max-width: 1080px;
    margin: 0 auto;
}

.footer__experiencias{
    grid-column: 1/3;
    background-color: #450223;
    height: 15vh;
}

.experiencia__gastronomicaImg{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 0 0 0;
}

.fabricacionImg{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 0 0 0;
    max-width: 1080px;
    margin: 0 auto;
}


.experiencia__familiaImg{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 0 0 0;
}

.experiencia__hotelImg{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 0 0 0;
    max-width: 1080px;
    margin: 0 auto;
}